@font-face {
  font-family: 'LOccitane Sans';
  src: url('../font/LOccitaneSans-Regular.eot');
  src: url('../font/LOccitaneSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('../font/LOccitaneSans-Regular.woff2') format('woff2'),
      url('../font/LOccitaneSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LOccitane Sans';
  src: url('../font/LOccitaneSans-Italic.eot');
  src: url('../font/LOccitaneSans-Italic.eot?#iefix') format('embedded-opentype'),
      url('../font/LOccitaneSans-Italic.woff2') format('woff2'),
      url('../font/LOccitaneSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'LOccitane Serif Bold';
  src: url('../font/LOccitaneSerif-Bold.eot');
  src: url('../font/LOccitaneSerif-Bold.eot?#iefix') format('embedded-opentype'),
      url('../font/LOccitaneSerif-Bold.woff2') format('woff2'),
      url('../font/LOccitaneSerif-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LOccitane Serif Bold Italic';
  src: url('../font/LOccitaneSerif-BoldItalic.eot');
  src: url('../font/LOccitaneSerif-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../font/LOccitaneSerif-BoldItalic.woff2') format('woff2'),
      url('../font/LOccitaneSerif-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'LOccitane Sans';
  src: url('../font/LOccitaneSans-Light.eot');
  src: url('../font/LOccitaneSans-Light.eot?#iefix') format('embedded-opentype'),
      url('../font/LOccitaneSans-Light.woff2') format('woff2'),
      url('../font/LOccitaneSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LOccitane Sans';
  src: url('../font/LOccitaneSans-Medium.eot');
  src: url('../font/LOccitaneSans-Medium.eot?#iefix') format('embedded-opentype'),
      url('../font/LOccitaneSans-Medium.woff2') format('woff2'),
      url('../font/LOccitaneSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LOccitane Sans';
  src: url('../font/LOccitaneSans-BoldItalic.eot');
  src: url('../font/LOccitaneSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../font/LOccitaneSans-BoldItalic.woff2') format('woff2'),
      url('../font/LOccitaneSans-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'LOccitane Serif';
  src: url('../font/LOccitaneSerif-Regular.eot');
  src: url('../font/LOccitaneSerif-Regular.eot?#iefix') format('embedded-opentype'),
      url('../font/LOccitaneSerif-Regular.woff2') format('woff2'),
      url('../font/LOccitaneSerif-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'LOccitane Serif Italic';
  src: url('../font/LOccitaneSerif-Italic.eot');
  src: url('../font/LOccitaneSerif-Italic.eot?#iefix') format('embedded-opentype'),
      url('../font/LOccitaneSerif-Italic.woff2') format('woff2'),
      url('../font/LOccitaneSerif-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'LOccitane Sans';
  src: url('../font/LOccitaneSans-Bold.eot');
  src: url('../font/LOccitaneSans-Bold.eot?#iefix') format('embedded-opentype'),
      url('../font/LOccitaneSans-Bold.woff2') format('woff2'),
      url('../font/LOccitaneSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gandhi Serif';
  src: url('../font/GandhiSerif-BoldItalic.eot');
  src: url('../font/GandhiSerif-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../font/GandhiSerif-BoldItalic.woff2') format('woff2'),
  url('../font/GandhiSerif-BoldItalic.woff') format('woff'),
  url('../font/GandhiSerif-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Guyon Gazebo';
  src: url('../font/GuyonGazebo-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Adobe Garamond Pro';
  src: url('../font/AGaramondPro-Bold.woff2') format('woff2'),
  url('../font/AGaramondPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Adobe Garamond Pro';
  src: url('../font/AGaramondPro-BoldItalic.woff2') format('woff2'),
  url('../font/AGaramondPro-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Adobe Garamond Pro';
  src: url('../font/AGaramondPro-Italic.woff2') format('woff2'),
  url('../font/AGaramondPro-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Adobe Garamond Pro';
  src: url('../font/AGaramondPro-Regular.woff2') format('woff2'),
  url('../font/AGaramondPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Beyond Infinity';
  src: url('../font/BeyondInfinity.eot');
  src: url('../font/BeyondInfinity.eot?#iefix') format('embedded-opentype'),
  url('../font/BeyondInfinity.woff2') format('woff2'),
  url('../font/BeyondInfinity.woff') format('woff'),
  url('../font/BeyondInfinity.ttf') format('truetype'),
  url('../font/BeyondInfinity.svg#BeyondInfinity') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gill Sans Std';
  src: url('../font/GillSansStd-Bold.eot');
  src: url('../font/GillSansStd-Bold.eot?#iefix') format('embedded-opentype'),
  url('../font/GillSansStd-Bold.woff2') format('woff2'),
  url('../font/GillSansStd-Bold.woff') format('woff'),
  url('../font/GillSansStd-Bold.ttf') format('truetype'),
  url('../font/GillSansStd-Bold.svg#GillSansStd-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gill Sans Std';
  src: url('../font/GillSansStd-BoldCondensed.eot');
  src: url('../font/GillSansStd-BoldCondensed.eot?#iefix') format('embedded-opentype'),
  url('../font/GillSansStd-BoldCondensed.woff2') format('woff2'),
  url('../font/GillSansStd-BoldCondensed.woff') format('woff'),
  url('../font/GillSansStd-BoldCondensed.ttf') format('truetype'),
  url('../font/GillSansStd-BoldCondensed.svg#GillSansStd-BoldCondensed') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gill Sans Std';
  src: url('../font/GillSansStd-Light.eot');
  src: url('../font/GillSansStd-Light.eot?#iefix') format('embedded-opentype'),
  url('../font/GillSansStd-Light.woff2') format('woff2'),
  url('../font/GillSansStd-Light.woff') format('woff'),
  url('../font/GillSansStd-Light.ttf') format('truetype'),
  url('../font/GillSansStd-Light.svg#GillSansStd-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gill Sans Std';
  src: url('../font/GillSansStd.eot');
  src: url('../font/GillSansStd.eot?#iefix') format('embedded-opentype'),
  url('../font/GillSansStd.woff2') format('woff2'),
  url('../font/GillSansStd.woff') format('woff'),
  url('../font/GillSansStd.ttf') format('truetype'),
  url('../font/GillSansStd.svg#GillSansStd') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gill Sans Std';
  src: url('../font/GillSansStd-ExtraBoldDisp.eot');
  src: url('../font/GillSansStd-ExtraBoldDisp.eot?#iefix') format('embedded-opentype'),
  url('../font/GillSansStd-ExtraBoldDisp.woff2') format('woff2'),
  url('../font/GillSansStd-ExtraBoldDisp.woff') format('woff'),
  url('../font/GillSansStd-ExtraBoldDisp.ttf') format('truetype'),
  url('../font/GillSansStd-ExtraBoldDisp.svg#GillSansStd-ExtraBoldDisp') format('svg');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gill Sans Std';
  src: url('../font/GillSansStd-ExtraBold.eot');
  src: url('../font/GillSansStd-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../font/GillSansStd-ExtraBold.woff2') format('woff2'),
  url('../font/GillSansStd-ExtraBold.woff') format('woff'),
  url('../font/GillSansStd-ExtraBold.ttf') format('truetype'),
  url('../font/GillSansStd-ExtraBold.svg#GillSansStd-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}