@green:#00713A;
@brown:#896D4D;
@red:#A51811;
@beige:#f1e7db;
@black:#f1e7db;
@yellow:#FFCB00;

.holiday-banner-text{
  color: white;
  position: absolute;
  right: 7%;
  font-size: 5vw;
  top: 30%;
  font-family: 'Gandhi Serif';
}

.holiday-title{
  font-family: 'Guyon Gazebo';
  font-weight: bold;
  color: #2C2A29;
}

.holiday-title-bg{
  /*background-image: url("../holiday/icon-title.png");*/
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.holiday-title-bg-2{
  /*background-image: url("../holiday/icon-title2.png");*/
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.holiday-title-bg-3{
  /*background-image: url("../holiday/icon-title3.png");*/
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.brown{
  color:#702a35;
}

.yellow{
    color:#ffcb00;
  }

.green{
  color:@green;
}

.font-gotham{
  font-family: 'Gotham';
}

.font-gandhi{
  font-family: 'Gandhi Serif';
}

.font-guyon{
  font-family: 'Guyon Gazebo';
}

.font-locci-serif{
  font-family: 'LOccitane Serif';
}

.font-locci-sans-bl{
  font-family: 'LOccitane Sans';
  font-weight: bold;
  font-style: italic;
}

.btn-green{
  background-color:@green;
  color:white;
  border-radius: 0;
}

.btn-brown{
background-color:#702a35;
border-radius: 0;
}
  
.btn-red{
  background-color:@red;
  color:white;
  border-radius: 0;
}

.btn-price{
  background-color: #FFCB00;
  color: #702a35;
  border-radius: 0;
}

.btn-holiday-shortcut{
  background-color: #C3A572;
  position: absolute;
  right: 0;
  border-radius: 0;
}

.modal-finder{
  background-image: url("../holiday22/new-holiday-bg-min.png");
  background-size: cover;
  background-color: #EFEBE7;
}

.modal-finder .modal-header{
  border-bottom: none;
}

.fa-check-circle{
  color:@green;
}

.option{
  position: relative;
}

.option-tick{
  position: absolute;
  top: -14%;
  right: 7%;
}

.border-green{
  border:1px solid @green !important;
}

.holiday-shortcut{
  position: relative;
  width: 100%;
  height: 0;
  z-index: 99;
}

.holiday-shortcut-body{
  position: absolute;
  right: 5%;
  top: 5vh;
  background-color: #EFEBE7;
  border: 1px solid @brown;
  width: auto;
  float: right;
  padding: 10px;
}

.holiday-shortcut-item{
  border-bottom: 1px solid #00713A;
  padding-bottom: 10px;
  padding-top: 10px;
}

.holiday-shortcut-icon{
  max-width: 15px;
}

.collapsing {
  -webkit-transition: none;
  transition: none;
  display: none;
}