.sidebar {
  width: 150px;
  height: 100vh;
  position: fixed !important;
  top: 0;
  right: -255px;
  z-index: 999;
  background: #333;
  color: black;
  transition: all .3s;
  box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.5);
  text-align: left;
  overflow: scroll !important;
}

.sidebar.active {
  right: 0;
}

a.scroll-link.btn-close {
  position: absolute;
  right: 15%;
  top: 2%;
  transform: scale(1.5);
}

.dismiss {
  transition: all .3s;
  cursor: pointer;
}

.sidebar .logo {
  padding: 40px 20px;
  border-bottom: 1px solid #444;
  transition: all .3s;
}

.sidebar ul li {
  border-bottom: 1px solid @yellow;
  width: 80%;
  margin: 0 auto;
}

.sidebar ul li a {
  display: block;
  padding: 10px;
  border: 0;
  text-align: center;
  font-size: 0.8rem;
}

.sidebar ul li a svg {
  transform: scale(1.5);
  margin-top: 10px;
  margin-bottom: 10px;
}

.sidebar ul li a:hover,
.sidebar ul li a:focus,
.sidebar ul li.active > a:hover,
.sidebar ul li.active > a:focus {
  outline: 0;
  color: black;
  text-decoration: none;
}

.sidebar ul li a i {
  padding-bottom: 15px;
}

.sidebar ul li.active > a, a[aria-expanded="true"] {
  background: @blue;
  color: black;
}

.sidebar ul ul a {
  padding-left: 30px;
  font-size: 14px;
}

.sidebar ul ul li.active > a {
  background: @blue;
}

.sidebar a[data-toggle="collapse"] {
  position: relative;
}

.sidebar .dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.sidebar .to-top {
  padding: 20px;
  text-align: center;
}

.sidebar .dark-light-buttons {
  padding: 10px 20px 30px 20px;
  text-align: center;
}

/* sidebar light */

.sidebar.light {
  background: #fff;
}

.sidebar.light ul ul a {
  background: #ddd;
}

.sidebar.light ul ul li.active > a {
  background: #ccc;
}

.sidebar.light a.btn-customized-3 {
  background: #ddd;
  color: #888;
}

.sidebar.light a.btn-customized-4.btn-customized-light {
  background: #eee;
}

/***** Dark overlay *****/

.overlay {
  display: none;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(51, 51, 51, 0.7);
  z-index: 998;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.overlay.active {
  display: block;
  opacity: 0.5;
}

.btn-menu {
  position: absolute;
  right: 5%;
  top: 35%;
}

.bg-nav .btn-cart {
  position: absolute;
  right: 13%;
  top: 35%;
}

.btn-search {
  position: absolute;
  right: 20%;
  top: 35%;
}

.bg-nav {
  background-color: @yellow;
  color: black;
}