.line-container {
  margin-top: 20px;
  display: flex;
  width: 100%;
  margin-bottom: 50px;
}

.line-container .progress-line {
  position: relative;
  margin: 0 auto;
  border-radius: 10px;
  width: 100%;
  background: #646464;
  height: 1px;
  display: flex;
  justify-content: space-between;
}

.line-container .progress-line .progressbar {
  position: absolute;
  width: 75%;
  height: 100%;
  background: @yellow;
  transition: width 1s ease-in-out;
}

.line-container .status {
  position: relative;
  top: -11.5px;
}

.line-container .status span {
  position: absolute;
  /* top: -20px; */
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  left: -10px;
  right: -10px;
  /* white-space: nowrap; */
  opacity: 0.4;
  height: 20px;
  bottom: -50px;
  width: -webkit-fill-available;
}

.line-container .status.final {
  top: -40px;
  background-color: #202020;
  height: 70px;
}

.line-container .status.final.completed{
  opacity: 0.3;
}

.line-container .status.final.current img {
  animation: wobble; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.line-container .status.final img {
  width: 50px;
}

.line-container .status .dot {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #FAFAFA;
  border: 1px solid black;
  text-align: center;
  padding-top: 4px;
}
.line-container .status.current span {
  opacity: 1;
  color: white;
}
.line-container .status.current .dot{
  border-color: @yellow;
  animation: currentCheckin 1s infinite;
}

@keyframes currentCheckin {
  from {
    border-color: @yellow;
  }
  50% {
    border-color: #fff;
  }
  100% {
    border-color: @yellow;
  }
}

.line-container .status.completed span {
  color: black;
  opacity: 1;
}
.line-container .status.completed .dot {
  position: relative;
  border-color: @yellow;
  background-color: @yellow;
}

