@import "font";
@import "nav";
@import "utils";
@import "step";
@import "timeline";

@yellow: #FFC200;
@blue: #0F1E50;
@beige:#f1e7db;
@black:#f1e7db;
@yellow:#FFCB00;

body, html {
  font-family: "LOccitane Sans";
  background-color: #FAFAFA;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  line-height: 1 !important;
}

.container,.container-fluid {
  flex: 1;
}

.badge{
  white-space: pre-wrap;
}

.bg-index {
  background-image: url("../img/bg-index.png");
  background-size: cover;
  background-position: center;
}

.owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
}

.slide-progress {
  width: 0;
  max-width: 100%;
  height: 4px;
  background: @yellow;
}

.btn-icon {
  border: 1px solid white;
  color: white;
  padding: 15px;
  border-radius: 0;
  font-size: 0.8rem;
}

.btn-icon svg {
  margin-bottom: 10px;
}

.btn-icon:hover {
  color: @yellow;
}

.btn-blue {
  background-color: transparent !important;
  border: 1px solid @blue !important;
  color: @blue !important;
  border-radius: 20px !important;
  font-weight: 500;
}

.btn-darkblue {
  background-color: @blue !important;
  color: white !important;
  border-radius: 20px !important;
}

.btn-circle {
  border-radius: 100%;
  border: 1px solid @yellow;
  background-color: white;
  //transform: scale(0.7);
  font-size: 0.6rem;
}

.btn-circle svg {
  //transform: scale(0.6);
}

.btn-option {
  border-radius: 0;
  border: 1px solid black;
  color: black;
}

.btn-option.active {
  border: 2px solid black;
  font-weight: 500;
}

.row-icon {
  position: absolute;
  width: 100vw;
  bottom: 15vh;
}

.footer {
  color: black;
  max-width: 100vw;
  z-index: 100;
  padding: 0.8em;
  font-size: 0.8em;
  transform: scale(0.8);
  margin-top:2em;
}

.footer a {
  color: black;
}

.logo {
  width: 70%;
  max-width: 300px;
  display: block;
  margin: auto
}

.title {
  width: 100%;
  text-align: center;
}

.title h4 {
  font-family: "Adobe Garamond Pro";
  font-weight: bold;
  margin: 0;
}

.font-title {
  font-family: "Adobe Garamond Pro";
  font-weight: bold;
}

.owl-carousel-nav .font-title {
  font-size: 1.1em;
}

.owl-carousel-nav .item {
  color: #BFBFBF;
}

.owl-carousel-nav .owl-item.active.center div {
  color: @blue;
}

.form-check.border-btm-yellow {
  padding-top: 1em;
  padding-bottom: 1em;
}

.border-btm-yellow {
  border-bottom: 1px solid @yellow;
  width: 80%;
  margin: 0 auto;
}

.store-select .form-check-input {
  top: 35%;
}

.store-select .store-title {
  font-weight: bold;
  line-height: 1;
}

.store-select .form-check-label {
  width: 100%;
}

.page-link {
  background-color: transparent;
  border: none
}

.page-item.active .page-link {
  background-color: transparent !important;
  border: 2px solid @yellow;
  border-radius: 100%;
}

.product-card {
  background-color: white;
  box-shadow: lightgrey 1px 1px 10px;
  margin: 10px;
  padding: 0;
}

.table-cart tr {
  border-bottom: 1px solid @yellow;
}

.date-calendar {
  background-color: white;
  border: 1px solid black;
  padding: 1em;
}

.date-item {
  width: 12.5%;
  text-align: center;
  display: inline-block;
}

.date-text {
  font-size: 0.8rem;
}

.date-number {
  border-radius: 100%;
  line-height: 30px;
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  margin-top: 10px;
}

.date-number.active {
  border: none;
  background-color: @yellow;
  padding: 0;
}

.form-check-input {
  margin-top: .2rem;
}

.cart-qty{
  position: absolute;
  bottom: 5%;
  right: 0;
}

#cart-qty{
  position: absolute;
  background-color: @blue;
  border-radius: 100%;
  font-weight: normal;
  top: -30%;
  left: 50%;
  font-size: 0.6rem;
  color:white;
}

#progressbar {
  overflow: hidden;
  color: #001200;
  padding: 0;
}

#progressbar .active {
  color: #28a745 !important;
}

#progressbar li {
  list-style-type: none;
  font-size: 15px;
  width: 25%;
  float: left;
  position: relative;
  font-weight: 400;
  text-align: center;
  z-index: 10;
}

#progressbar li .fa {
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 20px;
  color: #ffffff;
  background: #001200;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2%;
  text-align: center;
}

#progressbar li.active .fa {
  background: #28a745 !important;
}

#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: #001200;
  position: absolute;
  left: 0;
  top: 25px;
  z-index: -1;
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: #28a745 !important;
}

.img-banner {
  height: 100% !important;
}

.pickup li {
  width: 33% !important;
}

.progress {
  height: 20px
}

.progress-bar {
  background-color: #28a745 !important
}

.fit-image {
  width: 100%;
  object-fit: cover
}

.table-bordered, .table-bordered td {
  border: 1px solid black !important;
}

.swal2-popup {
  background-color: white !important;
  color: black !important;
  border-radius: 0 !important;
}

.swal2-title {
  font-family: "Adobe Garamond Pro";
}

.swal2-title, .swal2-text, .swal2-close {
  color: black !important;
}

.swal2-button:active {
  background-color: #001022;
}

.swal2-styled {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 0.8em !important;
}

.swal2-styled.swal2-confirm {
  background-color: @blue !important;
  color: white !important;
  border-radius: 0 !important;
  line-height: 1.5;
}

.swal2-styled.swal2-cancel {
  background-color: transparent !important;
  color: @blue !important;
  border: 1px solid @blue !important;
  border-radius: 0 !important;
  line-height: 1.5;
}

.swal2-icon.swal2-warning {
  border-color: @blue !important;
  color: @blue !important;
}

.carousel-indicators .active {
  background-color: #1c2f4d !important;
}

.table td, .table th {
  border: 0;
}

.col-form-label {
  padding: 0;
}

.float-icon {
  z-index: 99;
}

#search {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  /*background-color: rgba(0, 0, 0, 0.7);*/
  /*background-image: url(../img/bg-bottomonly.jpg);*/
  /*background-size: cover;*/
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

  -webkit-transform: translate(0px, -100%) scale(0, 0);
  -moz-transform: translate(0px, -100%) scale(0, 0);
  -o-transform: translate(0px, -100%) scale(0, 0);
  -ms-transform: translate(0px, -100%) scale(0, 0);
  transform: translate(0px, -100%) scale(0, 0);
  opacity: 0;
}

#search.open {
  -webkit-transform: translate(0px, 0px) scale(1, 1);
  -moz-transform: translate(0px, 0px) scale(1, 1);
  -o-transform: translate(0px, 0px) scale(1, 1);
  -ms-transform: translate(0px, 0px) scale(1, 1);
  transform: translate(0px, 0px) scale(1, 1);
  opacity: 1;
  z-index: 999;
}

#search .input-group {
  position: absolute;
  top: 20%;
  width: 80%;
  left: 10%;
  margin: 0 auto;
  border: 1px solid @yellow;
  outline: none;
  background-color: white;
  color: black;
  padding: 10px;
}

#search .input-group svg {
  margin-top: 5px;
}

#search .input-group input {
  outline: none;
  border: 0;
  background-color: white;
  color: black;
  padding-left: 15px;
  width: 90%;
}

#search .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 61px;
  margin-left: -45px;
}

#search .close {
  position: fixed;
  top: 15px;
  right: 15px;
  color: #fff;
  opacity: 1;
  padding: 10px 17px;
  font-size: 27px;
}

.b-0 {
  border: 0 !important;
}

.p-absolute {
  position: absolute;
}

.r-5 {
  right: 5%;
  color: white;
}

.dark-bg {
  color: black;
}

.close {
  color: black !important;
}

.bold {
  font-weight: bold;
}

.vh-100 {
  height: 100vh !important;
}

.input-group-prepend {
  border-right: 2px solid white;
}

.login-clean form .form-control, .input-group-text {
  background: lightgrey !important;
  border: 0 !important;
}

.form-control, .input-group-text {
  border-radius: 15px !important;
  //background-color: white !important;
  border: 1px solid #ced4da !important;
}

.help-block {
  color: red !important;
  display: block;
}

span.active {
  border: 3px solid #ffcb00;
  padding: 5px;
}

.table .thead-dark th {
  background-color: #ffcb00 !important;
  color: black;
}

.swal-overlay {
  background-color: rgba(255, 203, 0, 0.45)
}

.swal-button {
  background-color: #001022;
  color: white;
  text-transform: uppercase;
}

.border-yellow {
  border: 1px solid #ffcb00;
}

.border-btm-yellow{
  border-bottom: 5px solid #ffcb00;
}

hr.border-yellow {
  border: none;
  border-bottom: 1px solid @yellow !important;
}

.page-item.active .page-link {
  background-color: @yellow;
  border-color: @yellow;
}

.page-link {
  color: black;
}

.product-img {
  max-height: 18vh;
  width: auto;
}

img {
  /* user-drag: none; */
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.font-yellow, .text-yellow {
  color: @yellow;
}

.icon-yellow {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 203, 0, 1)' stroke-width='3' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.bg-dark {
  background-color: #001022 !important;
}

.bg-yellow {
  background-color: @yellow !important;
}

.bg-darkblue{
  background-color:@blue !important;
}

.content-tnc {
  height: 30vh;
  overflow-y: scroll;
  margin: 0 auto;
  border: 1px solid @blue;
  padding: 5px;
}

#siteNavbar {
  background-color: #000;
  margin: 0;
  border: none;
  padding: .25rem;
  -webkit-transition: padding .5s;
  -moz-transition: padding .5s;
  -o-transition: padding .5s;
  transition: padding .5s
}

#siteNavbar .navbar-brand, #siteNavbar .navbar-logo {
  cursor: pointer;
  margin: .25rem;
  border: none;
  padding: 0;
  background-color: transparent
}

#siteNavbar .navbar-logo {
  display: initial;
  width: 50px;
  height: 31.25px
}

#siteNavbar .navbar-brand {
  font-family: "Gill Sans Std", Helvetica, Arial, cursive;
  font-size: 1rem;
  color: #fff;
  text-transform: capitalize;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s
}

#siteNavbar .navbar-brand.active, #siteNavbar .navbar-brand:active, #siteNavbar .navbar-brand:focus, #siteNavbar .navbar-brand:hover {
  color: red
}

.w-auto {
  width: auto !important;
}

@media (min-width: 360px) {
  .login-clean form {
    margin: 0 auto;
    padding: 20px
  }

  #siteNavbar {
    background-color: #770505;
    margin: 0;
    border: none;
    padding: .25rem;
    -webkit-transition: padding .5s;
    -moz-transition: padding .5s;
    -o-transition: padding .5s;
    transition: padding .5s
  }

  #siteNavbar .navbar-logo {
    background-color: transparent;
    margin: .25rem .5rem;
    border: none;
    padding: 0;
    display: initial;
    width: 56px;
    height: 35px
  }

  #siteNavbar .navbar-brand {
    background-color: transparent;
    margin: .25rem .5rem;
    border: none;
    padding: 0;
    font-family: "Gill Sans Std", Helvetica, Arial, cursive;
    font-size: 1.2rem;
    color: #fff;
    text-transform: capitalize;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s
  }

  #siteNavbar .navbar-brand.active, #siteNavbar .navbar-brand:active, #siteNavbar .navbar-brand:focus, #siteNavbar .navbar-brand:hover {
    color: red
  }

  #siteNavbar .navbar-toggler {
    background-color: transparent;
    margin: .25px .75px;
    border-color: #fff;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    padding: .5rem;
    font-family: "Gill Sans Std", Helvetica, Arial, sans-serif;
    font-size: .8rem;
    color: #fff;
    text-transform: uppercase
  }

  #siteNavbar .navbar-toggler.active, #siteNavbar .navbar-toggler:active, #siteNavbar .navbar-toggler:focus, #siteNavbar .navbar-toggler:hover {
    border-color: #0f0;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    color: #0f0;
    outline-color: transparent
  }

  #siteNavbar .navbar-nav .nav-item .nav-link {
    background-color: transparent;
    margin: .25rem .5rem;
    border: solid transparent;
    border-radius: 0;
    border-width: 2px;
    outline: 0;
    padding: .25rem;
    font-family: "Gill Sans Std", Helvetica, Arial, cursive;
    font-size: .8rem;
    color: #fff;
    text-transform: uppercase
  }

  #siteNavbar .navbar-nav .nav-item .nav-link.active, #siteNavbar .navbar-nav .nav-item .nav-link:hover {
    border-bottom-color: #0ff;
    color: #0ff
  }
}

@media (min-width: 576px) {
  #siteNavbar {
    background-color: #134606;
    margin: 0;
    border: none;
    padding: .25rem;
    -webkit-transition: padding .5s;
    -moz-transition: padding .5s;
    -o-transition: padding .5s;
    transition: padding .5s
  }

  #siteNavbar .navbar-logo {
    background-color: transparent;
    margin: .25rem .5rem;
    border: none;
    padding: 0;
    display: initial;
    width: 62px;
    height: 38.75px
  }

  #siteNavbar .navbar-brand {
    background-color: transparent;
    margin: .25rem .5rem;
    border: none;
    padding: 0;
    font-family: "Gill Sans Std", Helvetica, Arial, cursive;
    font-size: 1.4rem;
    color: #fff;
    text-transform: capitalize;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s
  }

  #siteNavbar .navbar-brand.active, #siteNavbar .navbar-brand:active, #siteNavbar .navbar-brand:focus, #siteNavbar .navbar-brand:hover {
    color: red
  }

  #siteNavbar .navbar-toggler {
    background-color: transparent;
    margin: .25px .75px;
    border-color: #fff;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    padding: .5rem;
    font-family: "Gill Sans Std", Helvetica, Arial, sans-serif;
    font-size: .85rem;
    color: #fff;
    text-transform: uppercase
  }

  #siteNavbar .navbar-toggler.active, #siteNavbar .navbar-toggler:active, #siteNavbar .navbar-toggler:focus, #siteNavbar .navbar-toggler:hover {
    border-color: #0f0;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    color: #0f0;
    outline-color: transparent
  }

  #siteNavbar .navbar-nav .nav-item .nav-link {
    background-color: transparent;
    margin: .25rem .5rem;
    border: solid transparent;
    border-radius: 0;
    border-width: 2px;
    outline: 0;
    padding: .25rem;
    font-family: "Gill Sans Std", Helvetica, Arial, cursive;
    font-size: .85rem;
    color: #fff;
    text-transform: uppercase
  }

  #siteNavbar .navbar-nav .nav-item .nav-link.active, #siteNavbar .navbar-nav .nav-item .nav-link:hover {
    border-bottom-color: #0ff;
    color: #0ff
  }
}

@media (min-width: 768px) {
  .w-50 {
    width: 25% !important;
  }

  .w-80 {
    width: 45% !important;
  }

  #siteNavbar {
    background-color: #081166;
    margin: 0;
    border: none;
    padding: .25rem;
    -webkit-transition: padding .5s;
    -moz-transition: padding .5s;
    -o-transition: padding .5s;
    transition: padding .5s
  }

  #siteNavbar .navbar-logo {
    background-color: transparent;
    margin: .25rem .5rem;
    border: none;
    padding: 0;
    display: initial;
    width: 68px;
    height: 42.5px
  }

  #siteNavbar .navbar-brand {
    background-color: transparent;
    margin: .25rem .5rem;
    border: none;
    padding: 0;
    font-family: "Gill Sans Std", Helvetica, Arial, cursive;
    font-size: 1.6rem;
    color: #fff;
    text-transform: capitalize;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s
  }

  #siteNavbar .navbar-brand.active, #siteNavbar .navbar-brand:active, #siteNavbar .navbar-brand:focus, #siteNavbar .navbar-brand:hover {
    color: red
  }

  #siteNavbar .navbar-toggler {
    background-color: transparent;
    margin: .25px .75px;
    border-color: #fff;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    padding: .5rem;
    font-family: "Gill Sans Std", Helvetica, Arial, sans-serif;
    font-size: .9rem;
    color: #fff;
    text-transform: uppercase
  }

  #siteNavbar .navbar-toggler.active, #siteNavbar .navbar-toggler:active, #siteNavbar .navbar-toggler:focus, #siteNavbar .navbar-toggler:hover {
    border-color: #0f0;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    color: #0f0;
    outline-color: transparent
  }

  #siteNavbar .navbar-nav .nav-item .nav-link {
    background-color: transparent;
    margin: .25rem .5rem;
    border: solid transparent;
    border-radius: 0;
    border-width: 2px;
    outline: 0;
    padding: .25rem;
    font-family: "Gill Sans Std", Helvetica, Arial, cursive;
    font-size: .9rem;
    color: #fff;
    text-transform: uppercase
  }

  #siteNavbar .navbar-nav .nav-item .nav-link.active, #siteNavbar .navbar-nav .nav-item .nav-link:hover {
    border-bottom-color: #0ff;
    color: #0ff
  }
}

@media (min-width: 992px) {
  #siteNavbar {
    background-color: #5a4305;
    margin: 0;
    border: none;
    padding: .25rem;
    -webkit-transition: padding .5s;
    -moz-transition: padding .5s;
    -o-transition: padding .5s;
    transition: padding .5s
  }

  #siteNavbar .navbar-logo {
    background-color: transparent;
    margin: .25rem .5rem;
    border: none;
    padding: 0;
    display: initial;
    width: 74px;
    height: 46.25px
  }

  #siteNavbar .navbar-brand {
    background-color: transparent;
    margin: .25rem .5rem;
    border: none;
    padding: 0;
    font-family: "Gill Sans Std", Helvetica, Arial, cursive;
    font-size: 1.8rem;
    color: #fff;
    text-transform: capitalize;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s
  }

  #siteNavbar .navbar-brand.active, #siteNavbar .navbar-brand:active, #siteNavbar .navbar-brand:focus, #siteNavbar .navbar-brand:hover {
    color: red
  }

  #siteNavbar .navbar-toggler {
    background-color: transparent;
    margin: .25px .75px;
    border-color: #fff;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    padding: .5rem;
    font-family: "Gill Sans Std", Helvetica, Arial, sans-serif;
    font-size: .95rem;
    color: #fff;
    text-transform: uppercase
  }

  #siteNavbar .navbar-toggler.active, #siteNavbar .navbar-toggler:active, #siteNavbar .navbar-toggler:focus, #siteNavbar .navbar-toggler:hover {
    border-color: #0f0;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    color: #0f0;
    outline-color: transparent
  }

  #siteNavbar .navbar-nav .nav-item .nav-link {
    background-color: transparent;
    margin: .25rem .5rem;
    border: solid transparent;
    border-radius: 0;
    border-width: 2px;
    outline: 0;
    padding: .25rem;
    font-family: "Gill Sans Std", Helvetica, Arial, cursive;
    font-size: .95rem;
    color: #fff;
    text-transform: uppercase
  }

  #siteNavbar .navbar-nav .nav-item .nav-link.active, #siteNavbar .navbar-nav .nav-item .nav-link:hover {
    border-bottom-color: #0ff;
    color: #0ff
  }
}

@media (min-width: 1200px) {
  .login-clean form {
    max-width: 30vw;
    width: 90%;
    margin: 0 auto;
    padding: 40px
  }

  #siteNavbar {
    background-color: #6b054c;
    margin: 0;
    border: none;
    padding: .25rem;
    -webkit-transition: padding .5s;
    -moz-transition: padding .5s;
    -o-transition: padding .5s;
    transition: padding .5s
  }

  #siteNavbar .navbar-logo {
    background-color: transparent;
    margin: .25rem .5rem;
    border: none;
    padding: 0;
    display: initial;
    width: 80px;
    height: 50px
  }

  #siteNavbar .navbar-brand {
    background-color: transparent;
    margin: .25rem .5rem;
    border: none;
    padding: 0;
    font-family: "Gill Sans Std", Helvetica, Arial, cursive;
    font-size: 2rem;
    color: #fff;
    text-transform: capitalize;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s
  }

  #siteNavbar .navbar-brand.active, #siteNavbar .navbar-brand:active, #siteNavbar .navbar-brand:focus, #siteNavbar .navbar-brand:hover {
    color: red
  }

  #siteNavbar .navbar-toggler {
    background-color: transparent;
    margin: .25px .75px;
    border-color: #fff;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    padding: .5rem;
    font-family: "Gill Sans Std", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase
  }

  #siteNavbar .navbar-toggler.active, #siteNavbar .navbar-toggler:active, #siteNavbar .navbar-toggler:focus, #siteNavbar .navbar-toggler:hover {
    border-color: #0f0;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    color: #0f0;
    outline-color: transparent
  }

  #siteNavbar .navbar-nav .nav-item .nav-link {
    background-color: transparent;
    margin: .25rem .5rem;
    border: solid transparent;
    border-radius: 0;
    border-width: 2px;
    outline: 0;
    padding: .25rem;
    font-family: "Gill Sans Std", Helvetica, Arial, cursive;
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase
  }

  #siteNavbar .navbar-nav .nav-item .nav-link.active, #siteNavbar .navbar-nav .nav-item .nav-link:hover {
    border-bottom-color: #0ff;
    color: #0ff
  }
}

hr {
  line-height: 1px;
  border-top: 1px solid #000;
  width: 100%;
}

a {
  color: black;
  text-decoration: none;
  outline: 0
}

a:focus, a:hover {
  color: @blue;
  text-decoration: none;
}

.nav.navbar-nav.main-nav {
  display: block;
  max-width: 1000px;
  list-style: disc;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center
}

.navbar-nav > li {
  list-style-type: none;
  float: left;
  padding: 0;
  line-height: 50px;
  height: 50px;
  margin: 0;
}

.navbar.navbar-default {
  background: #000
}

.navbar-default .navbar-nav > li > a {
  color: #fff
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: #f4e7e7;
  background: #f64c3b;
  text-decoration: none;
  font-size: 13px;
  font-weight: 400;
  display: inline-block;
  margin: 0;
  text-align: center;
  transition: all .3s
}

.navigation-clean-button {
  background: #fff;
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #333;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin-bottom: 0
}

.navigation-clean-button .navbar-brand {
  font-weight: 700;
  color: inherit
}

.navigation-clean-button .navbar-brand:hover {
  color: #222
}

.navigation-clean-button .navbar-toggler {
  border-color: #ddd;
  color: #888
}

.navigation-clean-button .navbar-toggler:focus, .navigation-clean-button .navbar-toggler:hover {
  background: 0 0
}

.navigation-clean-button .form-inline, .navigation-clean-button .navbar-collapse {
  border-top-color: #ddd
}

.navigation-clean-button .navbar-nav a.active, .navigation-clean-button .navbar-nav > .show > a {
  background: 0 0;
  box-shadow: none
}

.navigation-clean-button.navbar-light .navbar-nav a.active, .navigation-clean-button.navbar-light .navbar-nav a.active:focus, .navigation-clean-button.navbar-light .navbar-nav a.active:hover {
  color: #8f8f8f;
  box-shadow: none;
  background: 0 0;
  pointer-events: none
}

.navigation-clean-button.navbar .navbar-nav .nav-link {
  padding-left: 18px;
  padding-right: 18px
}

.navigation-clean-button.navbar-light .navbar-nav .nav-link {
  color: #465765
}

.navigation-clean-button.navbar-light .navbar-nav .nav-link:focus, .navigation-clean-button.navbar-light .navbar-nav .nav-link:hover {
  color: #37434d !important;
  background-color: transparent
}

.navigation-clean-button .navbar-nav > li > .dropdown-menu {
  margin-top: -5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, .1);
  background-color: #fff;
  border-radius: 2px
}

.navigation-clean-button .dropdown-menu .dropdown-item, .navigation-clean-button .dropdown-menu .dropdown-item:focus {
  line-height: 2;
  font-size: 14px;
  color: #37434d
}

.navigation-clean-button .dropdown-menu .dropdown-item:focus, .navigation-clean-button .dropdown-menu .dropdown-item:hover {
  background: #eee;
  color: inherit
}

.navigation-clean-button .actions .login {
  margin-right: 1rem;
  text-decoration: none;
  color: #465765
}

.navigation-clean-button .navbar-text .action-button, .navigation-clean-button .navbar-text .action-button:active, .navigation-clean-button .navbar-text .action-button:hover {
  background: #56c6c6;
  border-radius: 20px;
  color: #fff;
  box-shadow: none;
  border: none;
  text-shadow: none;
  padding: .5rem 1rem;
  transition: background-color .25s;
  font-size: inherit
}

.card, .page-link {
  border: none
}

.navigation-clean-button .navbar-text .action-button:hover {
  background: #66d7d7
}

.bg-yellow, .btn-yellow {
  background-color: #ffcb00;
}

.user-details .col-form-label {
  font-size: .7em
}

.bg-yellow {
  width: 100%
}

.btn-yellow {
  color: #000;
  font-family: "Gill Sans Std", sans-serif;
  font-weight: bold;
}

.btn-delete{
  padding: 0;
  margin-top: 20px;
}

.btn.btn-warning.btn-lg.btn-yellow {
  padding: 20px;
  font-weight: bold;
  width: 44vw;
  font-size: 1em;
  white-space: normal
}

btn-yellow:hover {
  background-color: #ffe066 !important;
  color: #000
}

.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #ffcb00
}

.product-title {
  letter-spacing: 0.3px;
  color: #000;
  font-weight: bold;
  font-size: 0.9rem;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,203,0)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")
}

.product-button .btn-yellow {
  font-size: 10px;
  margin: 3px
}

.col-form-label.text-center.product-price {
  font-size: 14px
}

.product-price {
  padding-top: 5px;
  font-size: 0.8rem;
}

.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0;
  //min-height: 220px;
}

.pagination {
  /*margin: 20px;*/
  /*margin-left:20px;*/
  /*width: 100vw;*/
  justify-content: center
}

.page-item.active .page-link {
  color: black !important;
}

.carousel-item {
  background-color: #ffcb00;
}

.carousel-indicators {
  bottom: 0;
}

.card {
  margin: 10px;
  height: auto;
  background-color: transparent;
}

.card-footer {
  padding: 0;
  background-color: transparent;
  border-top: none;
}

.border-black {
  border: 1px solid black;
}

.btn-whatsapp {
  position: fixed;
  right: -3px;
  top: 40vh;
  z-index: 100;
  line-height: 80%;
  text-align: center;
  font-size: 90%;
  padding: 0 !important;
  color:#25D366;
}

.btn-whatsapp img {
  padding: 5px;
}

.btn-whatsapp small {
  font-size: 70%;
}

@keyframes loaderRotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  100%, 70% {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn)
  }
}

.loader-wrapper {
  //position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  pointer-events: none;
  width: 50vw;
  padding-top: 25px;
}

.loader {
  animation-duration: 1.4s;
  animation-name: loaderRotate;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  //margin-left: 25vw;
  //margin-top: 20vh;
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler .text {
  font-size: 0.9rem !important;
}

.swal2-icon.swal2-error [class^=swal2-x-mark-line] {
  background-color: red !important;
}

.swal2-icon.swal2-error {
  border-color: red !important;
}

.row-nav {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
}

.bg-xmas {
  background-image: url('../img/xmas-gift-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-caption {
  position: absolute;
  left: 0;
  right: 0;
  top: 30%;
  font-size: 2em;
  color: white;
  text-align: center;
  text-shadow: 2px 2px darkblue;
}

.banner-button {
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  width: 25vh;
  margin: 0 auto;
}

.banner-holder {
  max-height: 60vh;
  overflow: hidden;
}

.banner-holder .embed-responsive-4by3::before {
  padding-top: 60%;
}

.bg-category {
  background-image: url("../img/bg_sky.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #001022;
}

.category-text {
  background-color: rgba(255, 255, 255, 0.7);
}

.category_caption {
  font-size: 0.5em;
}

.bg_content {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content_holder {
  color: black;
  /* text-shadow: 2px 1px darkblue; */
  text-align: center;
  margin: 2em;
  z-index: 10;
  min-height: 500px;
  border: 1px solid #ffcb00;
  height: calc(100% - 4em);
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: black;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0.2;
}

.btn-gift {
  position: fixed;
  width: 50px;
  height: 70px;
  right: 0;
  top: 50vh;
  z-index: 100;
  line-height: 80%;
  text-align: center;
  font-size: 90%;
  background-color: #ffcb00 !important;
  color: black;
  border-radius: 10%;
}

.row-gift {
  position: absolute;
  top: 40%;
  max-width: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.row-gift-button {
  position: absolute;
  bottom: 10%;
  max-width: 100%;
  width: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.fz-15 {
  font-size: 1.5em;
}

.fz-1 {
  font-size: 1em;
}

.fz-12 {
  font-size: 1.2em;
}

.fz-3 {
  font-size: 3rem;
}

.fz-4 {
  font-size: 4rem;
}

.text-yellow {
  color: #ffcb00 !important;
}

.font-infinity {
  font-family: 'Beyond Infinity' !important;
}

.card-bg {
  background-image: url("../img/xmas-card-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.hair-bg {
  background-image: url("../img/bg-hair.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.sw-theme-dots .toolbar > .btn {
  background-color: black !important;
  border: none !important;
}

.sw-theme-dots > .nav::before {
  content: none !important;
}

.sw-theme-dots > .nav .nav-link::before {
  background: none !important;
}

.sw-theme-dots > .nav .nav-link.active::after {
  background-color: black !important;
}

.sw-theme-dots > .nav .nav-link::after {
  background-color: #FFB608 !important;
}

.tab-content h3 {
  text-transform: uppercase;
}

.sw .form-check {
  width: 80%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 2px solid #A7A7A7;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  /*background-color: rgba(255, 255, 255, 0.5);*/
}

.sw .form-check.active {
  border: 3px solid #FFB608;
}

.sw-theme-dots > .nav {
  justify-content: center;
}

.sw .form-check label {
  text-transform: uppercase;
}

.custom-radio {
  text-align: left;
}

.custom-control-label::before,
.custom-control-label::after {
  left: unset !important;
  right: 0 !important;
  top: 0;
  bottom: 0;
  background-color: transparent;
  border: 3px solid grey;
  width: 25px;
  height: 25px;
  border-radius: 25px;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url('data:image/svg+xml,%3Csvg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check" class="svg-inline--fa fa-check fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"%3E%3Cpath fill="white" d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"%3E%3C/path%3E%3C/svg%3E');
  background-color: #FFB608 !important;
  border: none;
}

.custom-control-label {
  width: 80%;
}

.custom-control {
  padding-left: 0 !important;
}

@media only screen and (min-width: 768px) {
  .banner-caption {
    top: 15%;
  }

  .fz-md-5 {
    font-size: 5em;
  }

  .banner-holder {
    max-height: 60vh;
  }
}
