ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: calc(100% - 70px);
  z-index: 400;
}
ul.timeline:after {
  content: ' ';
  background: @yellow;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  z-index: 401;
  top:0;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
  min-height: 70px;
}
ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid @yellow;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 405;
}

ul.timeline > li.active:before {
  content: '\f00c';
  font-family: 'Font Awesome 5 Pro';
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid @yellow;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 405;
  font-size: 0.6rem;
  padding-top: 3px;
  padding-left: 2px;
  background-color:@yellow;
}