.w-90 {
  width: 90% !important;
}

.w-80 {
  width: 80% !important;
}

.lg-space {
  border: none;
  margin: 60px
}

.md-space {
  border: none;
  margin: 40px
}

.sm-space {
  border: none;
  margin: 20px
}

.lh-1{
  line-height: 1 !important;
}