span[class*="blog-title-"]{
    color:white;
    padding: 5px;
    text-transform: uppercase;
    font-size: 2em;
    display: block;
    width: fit-content;
}

.blog-title{
    font-size: 1.5em;
    font-family: "Gill Sans";
}

.blog-title-blue{
    background-color: #212F76;
}

.blog-title-yellow{
    background-color: #FFB600;
}

.container-blog{
    position: relative;
}

.blog-point ul {
    list-style: none;
    padding: 0;
}
.blog-point li {
    padding-left: 1.3em;
}
.blog-point li:before {
    content: "\f091"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
    color:#FFB600;
}

.blog-product{
    position: absolute;
    width: 50vw;
    right: 0;
    max-width: 500px;
}

.btn-blue{
    background-color: #212F76;
    color:white;
}

.pt-10{
    padding-top: 10em !important;
}

.vjs-theme-sea .vjs-progress-control .vjs-play-progress{
    background-color: #FFB600 !important;
    opacity: 0.9;
}

.color-yellow{
    color:#FFB600 !important;
}

.blog-description-box{
    position: absolute;
    text-align: center;
    right: 4%;
    top: 10%;
}

.blog-icon{
    max-width: 100px;
}

.blog-testi-box{
    border:2px solid #E4C8BC;
}

.blog-flower-left{
    position: absolute;
    max-width: 80px;
    /*bottom: -21%;*/
    left: -5%;
}

.blog-flower-right{
    position: absolute;
    max-width: 130px;
    /*bottom: -7%;*/
    right: -5%;
}

.z-index-10{
    z-index: 10;
}

/*desktop*/
@media only screen and (min-width: 800px) {
    .blog-banner{
        width: 33%;
        display: inline-block;
    }
}

/*mobile*/
@media only screen and (max-width: 600px) {
    .blog-description-box{
        position: relative;
        text-align: center;
        right: auto;
        bottom: auto;
        margin-bottom: 2em;
    }
}